$text-color: #222;
$vfd-light: #FF7D47;
$vfd-light-unlit: #843927;
$vfd-background: #000;
$vfd-dark: #B84C25;
$vfd-dark-unlit: #4D1F1C;

$layout-gap: #010306;
$timer-background: #131c15;//linear-gradient(to bottom, #843927 0%, #4D1F1C 100%);
$layout-panel-background: #262f25;//linear-gradient(to bottom, #FF7D47 0%, #B84C25 100%);
