$text-color: #222;
$vfd-teal: #99FBF9;
$vfd-background: #000;

$layout-gap: #010306;
$timer-background: linear-gradient(to bottom, #151D26 0%, #111921 100%);
$layout-panel-background: linear-gradient(to bottom, #061C35 0%, #05182D 100%);
