$text-color: #666;
$vfd-light: #FF8BA0;//#FF7D47;
$vfd-light-unlit: #D3E5CF;
$vfd-background: #000;
$vfd-dark: #FFC2A6;
$vfd-dark-unlit: #F9DE87;

$layout-gap: #010306;
$timer-background: #FF8BA0;//linear-gradient(to bottom, #843927 0%, #4D1F1C 100%);
$layout-panel-background: #FFA5A1;//linear-gradient(to bottom, #FF7D47 0%, #B84C25 100%);
