@use 'fonts.scss';
@use 'colors.scss';
@use 'decorations.scss';
@import '../../client-shared/styles/layout';

* {
    box-sizing: border-box;
}

body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    margin: 0;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    background-color: #222;

    > #app {
        height: 100%;
        width: 100%;
    }
}

.bg-timer {
    background: colors.$timer-background;
}

.bg-panel {
    background: colors.$layout-panel-background;
}

.bg-inset {
    @include decorations.inset-container;
    padding: 8px;
}

@each $direction in 'top', 'bottom', 'left', 'right' {
    .layout-gap-#{$direction} {
        border-#{$direction}: 3px solid colors.$layout-gap;
    }
}

.layout-wrapper {
    height: 100%;
}
