@use 'fonts.scss';
@import '../../client-shared/styles/layout';

* {
    box-sizing: border-box;
}

body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    margin: 0;
    image-rendering: -webkit-optimize-contrast;
    position: relative;
    background-color: #222;

    > #app {
        height: 100%;
        width: 100%;
    }
}
