@import '@iplsplatoon/vue-components/style.css';
@import 'layout';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    margin: 8px;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    display: block;
}

.top-margin {
    margin-top: 8px;
}

hr {
    border-color: #737373;
}
