.layout {
    display: flex;

    &.horizontal {
        flex-direction: row;

        &.center-horizontal {
            justify-content: center;
        }

        &.center-vertical {
            align-items: center;
        }

        &.even-spacing > * {
            flex-basis: 0;
            flex-grow: 1;
        }
    }

    &.vertical {
        flex-direction: column;

        &.center-horizontal {
            align-items: center;
        }
    }
}

$layout-margins: 2, 4, 6, 8, 16;

@each $margin in $layout-margins {
    .m-t-#{$margin} {
        margin-top: #{$margin}px;
    }
    .m-b-#{$margin} {
        margin-bottom: #{$margin}px;
    }
    .m-l-#{$margin} {
        margin-left: #{$margin}px;
    }
    .m-r-#{$margin} {
        margin-right: #{$margin}px;
    }
    .m-x-#{$margin} {
        margin-right: #{$margin}px;
        margin-left: #{$margin}px;
    }
    .m-y-#{$margin} {
        margin-top: #{$margin}px;
        margin-bottom: #{$margin}px;
    }
}

.max-width {
    width: 100%;
}

.d-block {
    display: block;
}

.text-center {
    text-align: center !important;
}

.text-low-emphasis {
    color: var(--ipl-input-color);
    font-size: 0.9em;
}

.text-numeric {
    font-variant-numeric: tabular-nums;
}

.h-max-content {
    height: max-content;
}
